version: "3.9"

services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./interview_tg_bot:/app
    command: python manage.py migrate && python manage.py runserver && python main.py
    env_file:
      - ./.env